@model PurchasingApp.Models.PurchaseOrderModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TransactionModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="VendorCompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorCompanyName" class="control-label"></label>
                <input asp-for="VendorCompanyName" class="form-control" />
                <span asp-validation-for="VendorContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorContactName" class="control-label"></label>
                <input asp-for="VendorContactName" class="form-control" />
                <span asp-validation-for="VendorAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorAddress" class="control-label"></label>
                <input asp-for="VendorAddress" class="form-control" />
                <span asp-validation-for="VendorAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorAddress" class="control-label"></label>
                <input asp-for="VendorPhone" class="form-control" />
                <span asp-validation-for="VendorPhone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VendorPhone" class="control-label"></label>
                <input asp-for="VendorPhone" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_Validationtial");}
}





@*@model PurchasingApp.Models.PurchaseOrderModel

    @{
        ViewData["Title"] = "Create";
    }

    <h1>Create</h1>

    <h4>PurchaseOrderModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OrderNumber" class="control-label"></label>
                    <input asp-for="OrderNumber" class="form-control" />
                    <span asp-validation-for="OrderNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VendorName" class="control-label"></label>
                    <input asp-for="VendorName" class="form-control" />
                    <span asp-validation-for="VendorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VendorCompanyName" class="control-label"></label>
                    <input asp-for="VendorCompanyName" class="form-control" />
                    <span asp-validation-for="VendorCompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VendorContactName" class="control-label"></label>
                    <input asp-for="VendorContactName" class="form-control" />
                    <span asp-validation-for="VendorContactName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VendorAddress" class="control-label"></label>
                    <input asp-for="VendorAddress" class="form-control" />
                    <span asp-validation-for="VendorAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VendorPhone" class="control-label"></label>
                    <input asp-for="VendorPhone" class="form-control" />
                    <span asp-validation-for="VendorPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingName" class="control-label"></label>
                    <input asp-for="ShippingName" class="form-control" />
                    <span asp-validation-for="ShippingName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingCompanyName" class="control-label"></label>
                    <input asp-for="ShippingCompanyName" class="form-control" />
                    <span asp-validation-for="ShippingCompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingDept" class="control-label"></label>
                    <input asp-for="ShippingDept" class="form-control" />
                    <span asp-validation-for="ShippingDept" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingAddress" class="control-label"></label>
                    <input asp-for="ShippingAddress" class="form-control" />
                    <span asp-validation-for="ShippingAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingPhone" class="control-label"></label>
                    <input asp-for="ShippingPhone" class="form-control" />
                    <span asp-validation-for="ShippingPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingVia" class="control-label"></label>
                    <input asp-for="ShippingVia" class="form-control" />
                    <span asp-validation-for="ShippingVia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingMethod" class="control-label"></label>
                    <input asp-for="ShippingMethod" class="form-control" />
                    <span asp-validation-for="ShippingMethod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingTerm" class="control-label"></label>
                    <input asp-for="ShippingTerm" class="form-control" />
                    <span asp-validation-for="ShippingTerm" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryDate" class="control-label"></label>
                    <input asp-for="DeliveryDate" class="form-control" />
                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderyDate" class="control-label"></label>
                    <input asp-for="OrderyDate" class="form-control" />
                    <span asp-validation-for="OrderyDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductCode" class="control-label"></label>
                    <input asp-for="ProductCode" class="form-control" />
                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QtyOrder" class="control-label"></label>
                    <input asp-for="QtyOrder" class="form-control" />
                    <span asp-validation-for="QtyOrder" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnitPrice" class="control-label"></label>
                    <input asp-for="UnitPrice" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PurchaseRemark" class="control-label"></label>
                    <input asp-for="PurchaseRemark" class="form-control" />
                    <span asp-validation-for="PurchaseRemark" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
